[class*="fx-w"] {
  transition: all var(--fx-transition);
}

.fx-fade {
  animation: fxFade 0.5s ease-in-out var(--fx-delay) forwards;
}

@keyframes fxFade {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fx-scale {
  animation: fxScale 0.5s ease-in-out var(--fx-delay) forwards;
}

@keyframes fxScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
